<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jdbc="http://www.springframework.org/schema/jdbc"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.1.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.1.xsd
		http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-4.1.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.1.xsd">

<context:property-placeholder location="spring.properties" />
	<tx:annotation-driven transaction-manager="transactionManager" />
	<context:component-scan base-package="com.ingweb.prestamoequipos" />

	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="${jdbc.driverClassName}" />
		<property name="url" value="${jdbc.url}" />
		<property name="username" value="${jdbc.username}" />
		<property name="password" value="${jdbc.password}" />
	</bean>

	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="mappingResources">
			<list>
				<value>com/ingweb/prestamoequipos/model/Rols.hbm.xml</value>
				<value>com/ingweb/prestamoequipos/model/Users.hbm.xml</value>
				<value>com/ingweb/prestamoequipos/model/AccetedLoanDevices.hbm.xml</value>			
				<value>com/ingweb/prestamoequipos/model/Brands.hbm.xml</value>
				<value>com/ingweb/prestamoequipos/model/Devices.hbm.xml</value>
				<value>com/ingweb/prestamoequipos/model/RequestLoanDevices.hbm.xml</value>
			</list>
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">${hibernate.dialect}</prop>
				<prop key="hibernate.show_sql">${hibernate.show_sql:false}</prop>
				<prop key="hibernate.format_sql">${hibernate.format_sql:false}</prop>
			</props>
		</property>
	</bean>

	<bean id="transactionManager"
		class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
<!--  Dao -->
	<bean id="rolDao" class="com.ingweb.prestamoequipos.dao.RolDao">
		<constructor-arg ref="sessionFactory" />
	</bean>
	
		<bean id="userDao" class="com.ingweb.prestamoequipos.dao.UserDao">
		<constructor-arg ref="sessionFactory" />
	</bean>
		<bean id="brandDao" class="com.ingweb.prestamoequipos.dao.BrandDao">
		<constructor-arg ref="sessionFactory" />
	</bean>
		<bean id="deviceDao" class="com.ingweb.prestamoequipos.dao.DeviceDao">
		<constructor-arg ref="sessionFactory" />
	</bean>
		
	
</beans>
