<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Properties>
        <Property name="log-path">logs</Property>
    </Properties>
    <Appenders>
        <RollingFile name="file-log" fileName="${log-path}/prestamos.log"
                     filePattern="${log-path}/posit-%d{yyyy-MM-dd}.log">
            <PatternLayout>
                <pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n</pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Logger name="com.sismoinformatica.log4j2" level="error" additivity="false">
            <appender-ref ref="file-log" level="error"/>
        </Logger>
        <Root level="error" additivity="false">
            <appender-ref ref="file-log"/>
        </Root>
    </Loggers>
</Configuration>